@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: #fff;
    background: green;
}

::selection {
    color: #fff;
    background: green;
}


a {
    color: inherit;
    text-decoration: none;
}

.error {
    color: #970148;
    margin-top: 5px;
    font-size: 13px;
    margin-left: 5px;
}

body {
    background-color: rgb(0, 128, 73);
    color: white;
    font-family: "Unbounded", sans-serif;
}

.preloader-on {
    display: flex !important;
}

.preloader {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

.preloader img {
    width: 8%;
    margin-bottom: 10px;
    -webkit-animation-name: loading-animation;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: loading-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .login_wrapper {
    background-color: white;
    padding: 40px 10px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.error-wrapper {
    background-color: white;
    padding: 40px 40px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    box-shadow: -16px 19px 0px 0px rgba(1, 73, 41, 0.252);
    -webkit-box-shadow: -16px 19px 0px 0px rgba(1, 73, 41, 0.252);
    -moz-box-shadow: -16px 19px 0px 0px rgba(1, 73, 41, 0.252);
}

.form-heading {
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin: 0;
}

.form-subheading {
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-element label {
    font-size: 15px;
    margin-bottom: 8px;
    color: black;
    font-weight: 700;
}

.form-element input {
    width: 100%;
}

input[type="text"],
input[type="password"] {
    border: none;
    padding: 10px 20px;
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    border-radius: 8px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 3px solid green;
}

.invalid-input {
    outline: 3px solid #970148;
}

.invalid-input:focus {
    outline: 3px solid #970148 !important;
}

.form-bottom-link {
    color: #000;
}

.form-bottom-link i {
    color: #d98d00;
}

.form-bottom-link a {
    color: blue;
}

.submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #970148;
    color: white;
    height: 6vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.logout-button {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    background-color: #970148;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: -5px 5px 0px 0px rgba(1, 73, 41, 0.252);
    -webkit-box-shadow: -5px 5px 0px 0px rgba(1, 73, 41, 0.252);
    -moz-box-shadow: -5px 5px 0px 0px rgba(1, 73, 41, 0.252);
    z-index: 2000;
}

.logout-button i {
    font-size: 20px;
}

.submit-btn .fa-ticket {
    rotate: -45deg;
}

.submit-btn:hover {
    background-color: #67003c;
}

.credit-footer {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.form-santa-logo {
    position: relative;
    width: 30%;
}

.dh-office {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -3;
}

.floating-santa {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: .5s ease-in-out;
    -webkit-animation-name: santa-floating;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: santa-floating;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}



.moon {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.container-dashboard {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.santas-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
}

.santa-card {
    width: 180px;
    height: 25vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    cursor: pointer;
}

.santa-card .santa-image {
    width: 60%;
}

.santa-card .card-number {
    color: #970148;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.santa-card:hover {
    outline: 5px solid #00611d;
    transition: .1s ease-in-out;
    transform: scale(1.1);
}

.santa-gift {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}


@media screen and (max-width: 800px) {
    .container .login_wrapper {
        width: 80%;
    }

    .floating-santa,
    .moon {
        width: 70%;
    }

    .floating-santa {
        transform: translateX(120px) !important;
    }

    .moon {
        transform: translateX(100px);
    }

    .dh-office {
        width: 80%;
    }
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes loading-animation {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

@keyframes santa-floating {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-50px);
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}